{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/login.css">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="login-wrapper">
        <div class="login-image">
            <div class="animation">
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_yjrdpceb.json"
                    background="transparent" speed="1" loop autoplay>
                </lottie-player>
            </div>

        </div>

        <div class="login-form">
            <div class="form">
                <form method="POST">
                    <h2>Login</h2>
                    <input type="email" , id="email" , name="email" , placeholder="E-mail" required>
                    <br>
                    <input type="password" , id="password" , name="password" , placeholder="Password" required>
                    <br>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}